.sty
{
    background: yellow;
    display: inline-block;
    margin: 10px 20px 0 20px;
    border-radius: 10px;
    transition: all 0.2s ease;
  }
  .sty:hover
  {
    transform: scale(1.1);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  }

.sty img{
  width: 200px;
}
.sty h2,p
{
  text-align: center;
}
.don
{
  text-align: center;
}
.don button
{
  display: block;
  padding: 10px 20px;
  width: 300px;
  border: none;
  background-color: #f91616;
  color: white;
  border-radius: 7px;
  font-size: 18px;
  margin: 30px auto;
  cursor: pointer;
  box-shadow: 0 3px #ff5757;
  transition: all ease 0.2s;
}
.don button:hover
{
  transform: translateY(3px);
  background-color:#ff5757;
    box-shadow: 0 3px #f91616;
}
